{% extends 'base.html' %}

{% block container_content %}
    <div class="pt-3 row">
        <div class="col-auto">
            <a class="btn btn-outline-primary" href="{{ url_for('songs_detail', song_id=g.song.song_id) }}">
                <i class="bi-caret-left-fill"></i>
                Song details
            </a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <h1>Edit MP3 tags</h1>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <form>
                <table class="align-middle d-block table">
                    <tbody>
                    <tr>
                        <th>Filename</th>
                        <td><code>{{ g.song.song_filename }}</code></td>
                    </tr>
                    <tr>
                        <th><label for="album">Album</label></th>
                        <td>
                            <input class="form-control" id="album" name="album" required type="text"
                                   value="{{ g.song.album_name }}">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="title">Title</label></th>
                        <td>
                            <input class="form-control" id="title" name="title" required type="text"
                                   value="{{ g.song.song_title }}">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="artist">Artist</label></th>
                        <td>
                            <input class="form-control" id="artist" name="artist" required type="text"
                                   value="{{ g.song.song_artist_tag }}">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="categories">Categories</label></th>
                        <td>
                            <input class="form-control" id="categories" name="categories" type="text"
                                   value="{{ ', '.join(g.song.song_groups) }}">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="url">URL</label></th>
                        <td>
                            <input class="form-control" id="url" name="url" type="text"
                                   value="{{ g.song.song_url or '' }}">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="link-text">Link text</label></th>
                        <td>
                            <input class="form-control" id="link-text" name="link-text" type="text"
                                   value="{{ g.song.song_link_text or '' }}">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-outline-success" type="submit">
                    <i class="bi-file-earmark-play"></i>
                    Save
                </button>
            </form>
        </div>
    </div>
{% endblock %}
