<div class="bottom-0 fade m-1 position-fixed show start-50 toast translate-middle-x">
    <div class="toast-header">
        <div class="me-auto">Music player</div>
        <button class="btn-close" data-bs-dismiss="toast" hx-get="{{ url_for('nothing') }}" hx-target="#audio"
                type="button"></button>
    </div>
    <div class="toast-body">
        <div class="pb-1" id="audio-metadata">
            <strong>
                <i class="bi-disc"></i>
                {{ g.song.album_name }}
            </strong>
            <br>
            <strong>
                <i class="bi-music-note-beamed"></i>
                {{ g.song.song_title }}
            </strong>
            <br>
            <strong>
                <i class="bi-person"></i>
                {{ g.song.song_artist_tag }}
            </strong>
        </div>
        <audio autoplay controls preload="metadata" src="{{ url_for('stream_song', song_id=g.song.song_id) }}"></audio>
    </div>
</div>
