{% extends 'base.html' %}

{% block container_content %}
    <div class="pt-3 row">
        <div class="col-auto">
            <a class="btn btn-outline-primary" href="{{ url_for('songs_detail', song_id=g.song.song_id) }}">
                <i class="bi-caret-left-fill"></i>
                Song details
            </a>
        </div>
        {% include 'sign-out-button.html' %}
    </div>

    <div class="pt-3 row">
        <div class="col">
            <h1>Remove file</h1>
            <p>
                This operation will move the file to the new location specified below. The removal reason will be
                recorded in a text file in the same location.
            </p>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <form method="post">
                <table class="align-middle d-block table">
                    <tbody>
                    <tr>
                        <th>Current location</th>
                        <td><code>{{ g.song.song_filename }}</code></td>
                    </tr>
                    <tr>
                        <th>New location</th>
                        <td><code>{{ g.new_loc }}</code></td>
                    </tr>
                    <tr>
                        <th><label for="reason">Removal reason</label></th>
                        <td>
                            <input class="form-control" id="reason" name="reason" required type="text">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-outline-danger" type="submit">
                    <i class="bi-file-earmark-break"></i>
                    Remove file
                </button>
            </form>
        </div>
    </div>
{% endblock %}
