{% for s in g.songs %}
    {% if loop.index < 101 %}
    <tr class="d-table-row d-md-none">
        <td class="p-2">
            <a class="btn btn-outline-primary mb-1" href="{{ url_for('songs_detail', song_id=s.song_id) }}"
               title="Song details">
                <i class="bi-info-circle"></i>
            </a>
            <br>
            <a class="btn btn-outline-primary mb-1" href="{{ url_for('songs_download', song_id=s.song_id) }}"
               title="Download this song">
                <i class="bi-download"></i>
            </a>
            <br>
            <a class="btn btn-outline-primary" href="#" hx-get="{{ url_for('songs_play', song_id=s.song_id) }}"
               hx-target="#audio" title="Play this song">
                <i class="bi-play"></i>
            </a>
        </td>
        <td class="p-2">
            <i class="bi-disc"></i> {{ s.album_name }}<br>
            <i class="bi-music-note-beamed"></i> {{ s.song_title }}<br>
            <i class="bi-person"></i> {{ s.song_artist_tag }}<br>
            <i class="bi-clock-history"></i> {{ s.song_length|length_display }}<br>
            <i class="bi-award"></i> {{ '{:.2f}'.format(s.song_rating) }} ({{ s.song_rating_count }})<br>
            {% if s.song_url %}
                <i class="bi-link-45deg"></i>
                <a class="text-decoration-none" href="{{ s.song_url }}">{{ s.song_link_text }}</a><br>
            {% endif %}
        </td>
    </tr>
    <tr class="d-none d-md-table-row">
        <td class="text-center text-nowrap">
            <a class="text-decoration-none" href="{{ url_for('songs_detail', song_id=s.song_id) }}"
               title="Details: {{ s.album_name }} / {{ s.song_title }}">
                <i class="bi-info-circle"></i>
            </a>
            <a class="text-decoration-none" href="{{ url_for('songs_download', song_id=s.song_id) }}"
               title="Download: {{ s.album_name }} / {{ s.song_title }}">
                <i class="bi-download"></i>
            </a>
            <a class="text-decoration-none" href="#" hx-get="{{ url_for('songs_play', song_id=s.song_id) }}"
               hx-target="#audio" title="Stream: {{ s.album_name }} / {{ s.song_title }}">
                <i class="bi-play"></i>
            </a>
        </td>
        <td class="text-end"><code>{{ s.song_id }}</code></td>
        <td class="user-select-all">{{ s.album_name }}</td>
        <td class="user-select-all">{{ s.song_title }}</td>
        <td>{{ s.song_artist_tag }}</td>
        <td class="text-end text-nowrap {{ 'text-secondary' if s.song_rating == 0 }}" title="{{ s.song_rating }}">
        {% if s.song_rating > 0 and s.song_rating <3 %}
            <form class="d-inline" hx-confirm="Remove this song for low ratings?"
                  hx-post="{{ url_for('songs_remove', song_id=s.song_id) }}" hx-swap="delete" hx-target="closest tr">
                <input name="reason" type="hidden" value="Low ratings">
                <button class="btn btn-link text-danger text-decoration-none" type="submit">
                    <i class="bi-exclamation-circle"></i>
                    {{ '{:.2f}'.format(s.song_rating) }}
                </button>
            </form>
        {% else %}
            {{ '{:.2f}'.format(s.song_rating) }}
        {% endif %}
        </td>
        <td class="text-end {{ 'text-secondary' if s.song_rating_count == 0 }}">{{ s.song_rating_count }}</td>
        <td class="text-end">{{ s.song_length|length_display }}</td>
        <td>
        {% if s.song_url %}
            <a class="text-decoration-none" href="{{ s.song_url }}" target="_blank" title="{{ s.song_link_text }}">
                {{ s.song_url }}
            </a>
        {% endif %}
        </td>
        <td class="user-select-all"><code>{{ s.song_filename }}</code></td>
    </tr>
    {% else %}
    <tr>
        <td class="py-3 text-center" colspan="10" hx-include="form"
            hx-post="{{ url_for('songs_rows', page=g.page + 1) }}" hx-target="closest tr" hx-trigger="revealed"
            hx-swap="outerHTML">
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
        </td>
    </tr>
    {% endif %}
{% else %}
<tr class="text-center">
    <td colspan="10">No songs matched your criteria.</td>
</tr>
{% endfor %}
