{% for s in g.songs %}
    {% if loop.index < 101 %}
    <tr>
        <td class="text-center text-nowrap">
            <a class="text-decoration-none" href="{{ url_for('songs_detail', song_id=s.song_id) }}"
               title="Details: {{ s.album_name }} / {{ s.song_title }}">
                <i class="bi-info-circle"></i>
            </a>
            <a class="text-decoration-none" href="{{ url_for('songs_download', song_id=s.song_id) }}"
               title="Download: {{ s.album_name }} / {{ s.song_title }}">
                <i class="bi-download"></i>
            </a>
            <a class="text-decoration-none" href="#" hx-get="{{ url_for('songs_play', song_id=s.song_id) }}"
               hx-target="#audio" title="Stream: {{ s.album_name }} / {{ s.song_title }}">
                <i class="bi-play"></i>
            </a>
        </td>
        <td class="text-end"><code>{{ s.song_id }}</code></td>
        <td class="user-select-all">{{ s.album_name }}</td>
        <td class="user-select-all">{{ s.song_title }}</td>
        <td>{{ s.song_artist_tag }}</td>
        <td class="text-end {{ 'text-secondary' if s.song_rating == 0 }}" title="{{ s.song_rating }}">
            {{ '{:.2f}'.format(s.song_rating) }}
        </td>
        <td class="text-end {{ 'text-secondary' if s.song_rating_count == 0 }}">{{ s.song_rating_count }}</td>
        <td class="text-end">{{ s.song_length|length_display }}</td>
        <td class="user-select-all"><code>{{ s.song_filename }}</code></td>
    </tr>
    {% else %}
    <tr>
        <td class="py-3 text-center" colspan="9" hx-include="form"
            hx-post="{{ url_for('songs_rows', page=g.page + 1) }}" hx-target="closest tr" hx-trigger="revealed"
            hx-swap="outerHTML">
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
        </td>
    </tr>
    {% endif %}
{% else %}
<tr class="text-center">
    <td colspan="9">No songs matched your criteria.</td>
</tr>
{% endfor %}
