{% for l in g.listeners %}
    {% if loop.index < 101 %}
    <tr>
        <td class="text-center text-nowrap">
        </td>
        <td class="text-end"><code>{{ l.user_id }}</code></td>
        <td class="user-select-all">{{ l.user_name }}</td>
        <td class="user-select-all">{{ l.rank_title or '' }}</td>
        <td class="text-center">
        {% if l.is_discord_user %}
            <i class="bi-check-lg" title="{{ l.discord_user_id }}"></i>
        {% endif %}
        </td>
    </tr>
    {% else %}
    <tr>
        <td class="py-3 text-center" colspan="5" hx-include="form"
            hx-post="{{ url_for('listeners_rows', page=g.page + 1) }}" hx-target="closest tr" hx-trigger="revealed"
            hx-swap="outerHTML">
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
        </td>
    </tr>
    {% endif %}
{% else %}
<tr class="text-center">
    <td colspan="5">No listeners matched your criteria.</td>
</tr>
{% endfor %}
