{% for l in g.listeners %}
    {% if loop.index < 101 %}
    <tr>
        <td class="text-center text-nowrap">
            <a class="text-decoration-none" href="{{ url_for('listeners_detail', listener_id=l.user_id) }}"
               title="Listener detail page">
                <i class="bi-info-circle"></i>
            </a>
            <a class="text-decoration-none" href="https://rainwave.cc/all/#!/listener/{{ l.user_id }}" rel="noopener"
               target="_blank" title="Listener profile on rainwave.cc">
                <i class="bi-person-badge"></i>
            </a>
        </td>
        <td class="text-end"><code>{{ l.user_id }}</code></td>
        <td class="user-select-all">{{ l.user_name }}</td>
        <td>{{ l.group_name }}</td>
        <td class="user-select-all">{{ l.rank_title or '' }}</td>
        <td>{{ l.rating_count }}</td>
        <td class="text-center">
        {% if l.is_discord_user %}
            <i class="bi-check-lg" title="{{ l.discord_user_id }}"></i>
        {% endif %}
        </td>
        <td>{% if l.radio_last_active %}{{ l.radio_last_active.date() }}{% endif %}</td>
    </tr>
    {% else %}
    <tr>
        <td class="py-3 text-center" colspan="8" hx-include="form"
            hx-post="{{ url_for('listeners_rows', page=g.page + 1) }}" hx-target="closest tr" hx-trigger="revealed"
            hx-swap="outerHTML">
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
        </td>
    </tr>
    {% endif %}
{% else %}
<tr class="text-center">
    <td colspan="8">No listeners matched your criteria.</td>
</tr>
{% endfor %}
