<div class="end-0 fade m-5 position-fixed show toast top-0">
    <div class="toast-header">
        <div class="me-auto">
            <strong>
                <i class="bi-disc"></i>
                {{ g.song.album_name }}
            </strong>
            <br>
            <strong>
                <i class="bi-music-note-beamed"></i>
                {{ g.song.song_title }}
            </strong>
            <br>
            <strong>
                <i class="bi-person"></i>
                {{ g.song.song_artist_tag }}
            </strong>
        </div>
        <button class="btn-close" data-bs-dismiss="toast" type="button"></button>
    </div>
    <div class="toast-body">
        <audio autoplay controls preload="metadata" src="{{ url_for('stream_song', song_id=g.song.song_id) }}"></audio>
    </div>
</div>
