<html lang="en">

<head>
    <title>Rainwave Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.11.3.css') }}">
</head>

<body>

<div class="container-fluid">
    {% block container_content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='bootstrap-5.3.3.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='htmx-1.9.11.js') }}"></script>
</body>

</html>
