{% extends 'base.html' %}

{% block container_content %}
    <div class="pt-3 row">
        <div class="col">
            <h1>Rainwave Library</h1>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col-auto">
            <input aria-label="Search songs" class="form-control" hx-post="{{ url_for('song_table') }}"
                   hx-target="#song-table" hx-trigger="search, keyup changed delay:500ms" name="q"
                   placeholder="Search songs..." type="search">
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col" hx-post="{{ url_for('song_table') }}" hx-trigger="load" id="song-table">
            <div class="htmx-indicator spinner-border"></div>
        </div>
    </div>
{% endblock %}
