{% extends 'base.html' %}

{% block container_content %}
    <div class="pt-3 row">
        <div class="col-auto">
            <h1>Rainwave Library</h1>
        </div>
        {% include 'sign-out-button.html' %}
    </div>

    <form hx-target="tbody">
        <div class="align-items-center d-flex g-2 pt-3 row">
            <div class="col-auto">
                <input aria-label="Search songs" class="form-control" hx-indicator="#filters-indicator"
                       hx-post="{{ url_for('song_table_rows') }}" hx-trigger="search, keyup changed delay:300ms"
                       name="q" placeholder="Search songs..."
                       title="Case-insensitive search for album, title, artist, or filename" type="search">
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                            title="Sort options" type="button">
                        <i class="bi-sort-alpha-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="px-2">
                            <h6 class="dropdown-header">SORT OPTIONS</h6>
                            <div class="form-check">
                                <input checked class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-dir-asc" name="sort-dir"
                                       type="radio" value="asc">
                                <label class="form-check-label" for="sort-dir-asc">Ascending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-dir-desc" name="sort-dir"
                                       type="radio" value="desc">
                                <label class="form-check-label" for="sort-dir-desc">Descending</label>
                            </div>
                            <hr>
                            <div class="form-check">
                                <input checked class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-col-id" name="sort-col"
                                       type="radio" value="song_id">
                                <label class="form-check-label" for="sort-col-id">ID</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-col-album" name="sort-col"
                                       type="radio" value="album_name">
                                <label class="form-check-label" for="sort-col-album">Album</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-col-title" name="sort-col"
                                       type="radio" value="song_title">
                                <label class="form-check-label" for="sort-col-title">Title</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-col-rating" name="sort-col"
                                       type="radio" value="song_rating">
                                <label class="form-check-label" for="sort-col-rating">Rating</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-col-length" name="sort-col"
                                       type="radio" value="song_length">
                                <label class="form-check-label" for="sort-col-length">Length</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="sort-col-filename" name="sort-col"
                                       type="radio" value="song_filename">
                                <label class="form-check-label" for="sort-col-filename">Filename</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                            title="Channel selection" type="button">
                        <i class="bi-broadcast-pin"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="px-2">
                            <h6 class="dropdown-header">CHANNEL SELECTION</h6>
                        {% for k, v in g.channels.items() %}
                            <div class="form-check">
                                <input checked class="form-check-input" hx-indicator="#filters-indicator"
                                       hx-post="{{ url_for('song_table_rows') }}" id="channels-{{ k }}" name="channels"
                                       type="checkbox" value="{{ k }}">
                                <label class="form-check-label" for="channels-{{ k }}">{{ v }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <span class="htmx-indicator spinner-border spinner-border-sm" id="filters-indicator"></span>
            </div>
        </div>
    </form>

    <div class="pt-3 row">
        <div class="col">
            <table class="align-middle table table-bordered table-sm table-striped">
                <thead>
                <tr class="text-center">
                    <th></th>
                    <th>ID</th>
                    <th>Album</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Rating</th>
                    <th>Ratings</th>
                    <th>Length</th>
                    <th>Filename</th>
                </tr>
                </thead>
                <tbody hx-post="{{ url_for('song_table_rows') }}" hx-trigger="load">
                <tr>
                    <td class="py-3 text-center" colspan="9">
                        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="audio"></div>
{% endblock %}
