<div class="col-auto ms-auto">
    <button class="btn btn-outline-primary" data-bs-target="#bsky-modal" data-bs-toggle="modal">
        <i class="bi-pencil-square"></i>
        Post
    </button>
</div>
<div class="col-auto">
    <a class="btn btn-outline-danger" href="{{ url_for('sign_out') }}">Sign out</a>
</div>

<div class="modal" id="bsky-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form action="{{ url_for('bluesky') }}" class="mb-0" id="bsky-form" method="post">
                    <h5 class="mb-3"><label for="body">Post to Bluesky</label></h5>
                    <textarea class="form-control mb-3" id="body" name="body" required rows="10"></textarea>
                    <div class="row">
                        <div class="col-auto ms-auto">
                            <button class="btn btn-outline-primary" form="bsky-form" type="submit">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
