{% for s in g.songs %}
    {% if loop.index < 101 %}
    <tr>
        <td class="text-end"><code>{{ s.song_id }}</code></td>
        <td class="text-nowrap user-select-all">{{ s.album_name }}</td>
        <td class="user-select-all">{{ s.song_title }}</td>
        <td>{{ s.song_artist_tag }}</td>
        <td class="text-end" title="{{ s.song_rating }}">{{ '{:.2f}'.format(s.song_rating) }}</td>
        <td class="text-end">{{ s.song_rating_count }}</td>
        <td class="user-select-all"><code>{{ s.song_filename }}</code></td>
        <td class="text-nowrap">
            <a href="{{ url_for('download_song', song_id=s.song_id) }}"><i class="bi-download"></i></a>
            <a href="#" hx-get="{{ url_for('play_song', song_id=s.song_id) }}" hx-target="#audio">
                <i class="bi-play"></i>
            </a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td class="py-3 text-center" colspan="8" hx-include="form"
            hx-post="{{ url_for('song_table_rows', page=g.page + 1) }}" hx-target="closest tr" hx-trigger="revealed"
            hx-swap="outerHTML">
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
        </td>
    </tr>
    {% endif %}
{% else %}
<tr class="text-center">
    <td colspan="8">No songs matched your criteria.</td>
</tr>
{% endfor %}
